*{
    background-image: url('asset1.jpg');
}
#heading{
    margin-left: 250px;
    margin-top: 40px;
    width: 100%;
    font-family:Georgia, 'Times New Roman', Times, serif ;
   

}
#aboutme{
    margin-left: 250px;
    margin-top: 50px;
    width: 400px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  

}
#image{
   position: absolute;
   left: 1000px;
   bottom: 300px;
  border: 0px solid grey;
  border-radius: 50%;
  
}
#footer{
    margin-left:250px;
    height: 200px;
    width: 100%;
 

}
#instagram{
    margin-left: 200px;
}
#linkedin{
    margin-left: 50px;
}
#instagram:hover{
    scale: 1.5;
}
#linkedin:hover{
    scale: 1.5;
}